<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--数据库连接基本信息-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>

        <!--MySQL方言
        mysql8 使用org.hibernate.dialect.MySQLInnoDBDialect会报如下错误：
            org.hibernate.engine.jdbc.spi.SqlExceptionHelper logExceptions
            ERROR: Table 'databaseName.tableName' doesn't exist
        -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- 执行操作时是否在控制台打印sql -->
        <property name="show_sql">true</property>
        <!-- 打印输出的sql是否格式化 -->
        <property name="format_sql">true</property>
        <!-- 自动生成数据库表的策略
        create: 会生根据 .hbm.xml 文件生成数据库表，每次运行都会删除上一次的表，重新生成表，即使新表相对于上次没有任何改变。
        create-drop: 会生根据 .hbm.xml 文件生成数据库表，但是 SessionFactory 关闭后，表会被自动删除。
        update: 最常用的属性值。会根据 .hbm.xml 文件生成数据库表，如果 .hbm.xml 文件和数据库中表结构不同，Hibernate会更新数据库表结构，但
                不会删除已有的行和列。
        validate: 会和数据库中的表进行比较，如果 .hbm.xml 文件中配置的列在数据库中不存在，则抛出异常。
        -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 指定 对象-关系映射文件 -->
        <!--<mapping class="org.nc.hibernate.pojo.News" resource="News.hbm.xml" />-->
        <mapping resource="News.hbm.xml" />

    </session-factory>
</hibernate-configuration>